:root {
  --main-background-color: hsl(240, 78%, 98%);
  --main-background-color-dark: hsl(234, 14%, 74%);
  --main-background-accent: hsl(233, 13%, 49%);
  --main-font-color-dark: hsl(232, 13%, 33%);
}
* {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: var(--main-background-color);
  text-align: center;
  font-size: 15px;
  background-image: url('./images/bg-top.svg');
  opacity: 0.9;
}

h3 {
  font-size: 2em;
  font-weight: 900;
}

.tier {
  padding: 10px 0px;
  font-weight: 900;
}


.container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 33% 33% 33%;

}

.container .accent-grid {
  background-color: #ffff;
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

.learn-more {
  padding: 4% 10%;
  width: 90%;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  margin-bottom: 12%;
}
.accent-grid .learn-more {
  background-color: #ffff;
}

.main {
  background-color: white;
}

.main .learn-more{
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.main hr {
  color: var(--main-font-color-dark);
  width: 80%;
}

.pricing-off {
  display: none;
}

.grid-item {
    display: grid;
    justify-items: center;
    line-height: 2rem;
    margin: 3%;
    border-radius: 4%;
    box-shadow: 1px 1px 5px hsl(237, 63%, 64%);
}

.grid-item span {
  padding: 10px;
}



#pricing {
    align-items: center;
}

.pricing-main {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 7%;
  
}
/* 

/* Switch */
.pricing-options {
    padding: 1.5%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  hsl(237, 63%, 64%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* ### Neutral

- Very Light Grayish Blue: hsl(240, 78%, 98%)
- Light Grayish Blue: hsl(234, 14%, 74%)
- Grayish Blue: hsl(233, 13%, 49%)
- Dark Grayish Blue: hsl(232, 13%, 33%)

## Typography


### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weight: 700 */ 
